<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
</head>
<body>

  <div class="nav-wrapper">
		  <div class="nav-left"><a href="{{ site.baseurl }}">← [Back to Main Index]</a></div>
    <div class="nav-right"><a href="https://www.aaabs.com" target="_blank">[To A3BS Website] →</a></div>
  </div>

  <div class="main-container">
    {{ content }}
  </div>

  <div style="margin-top: 2rem; text-align: center;">
    <script src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
    <script>
      kofiWidget2.init('Support us on Ko-fi', '#4a8d60', 'X8X5YH7JY');
      kofiWidget2.draw();
    </script>
  </div>
  <div style="position: fixed; bottom: 20px; right: 20px; width: 320px; height: 712px; z-index: 9999;">
		  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support A³BS on Ko-fi', '#0f6065', 'F1F21H6JCO');kofiwidget2.draw();</script>
  </div>
</body>
</html>
