<!DOCTYPE html>
<html lang="en">
		<head>
		  <meta charset="UTF-8">
		  <title>{{ page.title }}</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=1' | absolute_url }}">
		</head>
		<body>
			<div class="kofi-button">
				<a href="https://ko-fi.com/aaabscom" target="_blank" rel="noopener noreferrer">
				<img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Support on Ko-fi">
				</a>
			</div>
			<div class="main-container">
			{{ content }}
			</div>
		</body>
</html>
